ul{
    background-image: url('./lab-assets/list-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    list-style-type: none;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

body{
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
}

.previewpizza{
    max-width: 100%;
    height: auto;
}

div{
    height: 20px;
    width: auto;

    background-image: url('./lab-assets/hr-img.png');
    background-repeat: repeat-x;
    background-size: .4% 100%;
}