body{
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 420px;
    margin-bottom: 10px;
}

.instructions{
    text-indent: 5%;
    font-family: "comic sans";
    font-size: 125%;
    color: #444e41;
}

.link-images{
	display: inline;
	float: right;
}

.social{
		padding-right: 3px;
}

footer {
    font-family: "comic sans";
    font-size: 125%;
    color: #444e41;
}

header{
	display: inline-block;
	
	background-image: url('../images/hr-img.png');
    background-repeat: repeat-x;
    background-size: 3px 13px;
	background-position: bottom;
	
	width: 100%;
}

h2{
	margin-bottom: -15px;
}

#border{
    height: 13px;
    width: auto;

	clear:left;


}

#Delicious{
	display: inline;
}

#list{
	background-image: url('./images/list-bg.png');
	font-family: "comic sans ms";
}

#images{
	padding-right: 16px;
}


ul{
		list-style-type: none;
}